/* https://www.color-hex.com/color/555d50 */

/* https://www.color-hex.com/color/00ffff */

/* https://www.color-hex.com/color/66ff00 */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2a2e28;
}

.wrapper {
	position: relative;
	width: 100%;
	padding: 3em 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #191b18;
	border-bottom: 0.04em solid #666d61;
}

.box-input {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin: 0em 2em;
}

label {
	color: #7fffff;
	margin-bottom: 0.2em;
}

input {
	padding: 0.4em 1em;
}

.input-select {
	align-self: flex-end;
}

select {
	padding: 0.4em 1em;
}

.btns {
	align-self: flex-end;
}

.btn-add {
	width: 100%;
	padding: 0.5em 1em;
	margin-left: 2em;
	background-color: #b2ffff;
	border: 0.04em solid #007f7f;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn-add:hover {
	background-color: #00cccc;
}

.box-acount {
	width: 100%;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: 2em;
}

.bgc-green {
	width: 260px;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #286600;
	border: 0.04em solid #66ff00;
	box-shadow: 0.2em 0.2em 1em #66ff00;
}

.bgc-blue {
	width: 260px;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #007f7f;
}

ul {
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

li {
	color: #eeeeed;
	list-style-type: none;
	margin: 0em 1em;
}

span {
	font-size: 1.2em;
	font-weight: bold;
}

.box-error {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 30px;
	display: flex;
}

.all-error {
	margin-top: 0.4em;
	position: absolute;
	color: #e50700;
}
.one-error {
	position: absolute;
	top: 60%;
	color: #e50700;
}
.two-error {
	position: absolute;
	top: 60%;
	color: #e50700;
}
