*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	width: 100vw;
	height: 100vh;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-input {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin: 0em 2em;
}

label {
	margin-bottom: 0.1em;
}

input {
	padding: 0.4em 1em;
}

.input-select {
	align-self: flex-end;
}

select {
	padding: 0.4em 1em;
}

.btns {
	align-self: flex-end;
}

.btn-add {
	padding: 0.4em 1em;
	margin-left: 1em;
	cursor: pointer;
}

.box-acount {
	width: 100%;
	display: flex;
	align-items: center;
}

.bgc-green {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	background-color: rgb(0, 228, 0);
}

.bgc-red {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	background-color: rgb(248, 93, 93);
}

ul {
	display: flex;
	justify-content: center;
}
